<a href="https://colab.research.google.com/github/jamesjoy-2k24/Python-Course/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def welcome(*name):
  print('Hello,', name)

welcome('Joy', 'James')

Hello, ('Joy', 'James')

In [ ]:
def welcome(*name):
  print('Hello, '+', '.join(name) + "!")

welcome('Joy', 'James')

Hello, Joy, James!

In [ ]:
def welcome(*name):
  for i in name:
    print('Hello,' + i + 'i')

welcome('a','b','c')

Hello,ai
Hello,bi
Hello,ci

In [ ]:
import math

x = 2.25
y = 3

result = math.sqrt(x)
print(result)

result = math.pow(x,y)
print(result)

1.5
11.390625

In [ ]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
# Elif function
a = 100
b = 30

In [ ]:
if a > b : print ('a is greater than b')

In [ ]:
a = 2
b = 300
print('A') if a > b else print ('B')

B

In [ ]:
# Ternary operator
a = 300
b = 310
print('A') if a > b else print ('=') if a == b else print ('B')

B

In [ ]:
# nested if
x = 40

if x > 20 :
  print('It is above ten')
  if x > 30 :
    print('Also above 30!')
  else:
    print('Not above 50')

It is above ten
Also above 30!

In [ ]:
# While loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# While loop
i = 1
while i < 6:
  i += 1
  if i == 3 :
    continue
  print(i)

2
4
5
6

In [ ]:
# Test
x = 5
y =10
print(x+int(y))

15

In [ ]:
my_string = 'Hello'
print(my_string[::-1])

olleH

In [6]:
a = 'Hello'
print(a[0])

H

In [7]:
# Extend
list = ['a','b','c']
list.extend('apple')
print(list)

['a', 'b', 'c', 'a', 'p', 'p', 'l', 'e']

In [8]:
list = ['a','b','c']
print(list.copy())

['a', 'b', 'c']