<a href="https://colab.research.google.com/github/jamesjoy-2k24/Python-Course/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a =5
A = 'Sri Lanka'

print(a)
print(A)

5
Sri Lanka

In [2]:
num = [1,2,3] # Starting should not be a num, no spaces, no (-)
print(num)

[1, 2, 3]

## Multi word variable techniques

In [4]:
# Camel case variables
iLoveSriLanka = [a,"b","c"]
print(iLoveSriLanka)

[5, 'b', 'c']

In [6]:
# Pascal Case
ILoveSriLanka = [a,2,3]
print(ILoveSriLanka)

[5, 2, 3]

In [7]:
# Snake Case
I_Love_SriLanka = [a,2,3]
print(I_Love_SriLanka)

[5, 2, 3]

# Operators

In [ ]:
# Arithmetic = (+ , - , / , % , * , **)
# Relational = (< , > , == , !=)
# Logical = (and, or, not)
# Membership = (in , not in)

In [8]:
a = 10
b = 2
print(a/b)
print(a%b)
print(a**b)

5.0
0
100

In [9]:
# And , Or , and Not Operator
a = 5
print( a>3 and a<10)
print( a<3 or a<10)

True
True

In [11]:
# Format String
name = "Joy"
age = 22

sample = f"Hello, my name is {name} and I'm {age} years old."
print(sample)

Hello, my name is Joy and I'm 22 years old.

In [13]:
# Range
sample = range(10)
for i in sample :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
def multiplication_table(n):
  for i in range(1,11):
    print(f"{n} * {i} = {n * i}")

multiplication_table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [17]:
# Random Function
import random
print(random.randrange(1,10))

6

In [19]:
# Python Casting - int, str, float

a = int(2.5)
b = int("3")

print(a)
print(b)

2
3

In [20]:
a = "Hello, Sri Lanka!"
print(a.strip())
print(a.replace("e","a"))
print(len(a))
print(a.split("S"))

Hello, Sri Lanka!
Hallo, Sri Lanka!
17
['Hello, ', 'ri Lanka!']

In [23]:
# Escape Character
txt = "I Love \"Sri Lanka\" \n India and China"
print(txt)

I Love "Sri Lanka"
 India and China

## List

In [27]:
# List is always mutable, ordered, []
# methods - append
#         - pop
#         - short
#         - reverse

In [26]:
list = [100, 23, 45, 60, 80]
list.sort() # Ascending
print(list)

list.reverse() # Reverse
print(list)

[23, 45, 60, 80, 100]
[100, 80, 60, 45, 23]

## Tuple

In [ ]:
# Immutable
# nested
# cannot modify
# once created remains static().
# concatenation

In [28]:
tuple = ((1,2),(10,20))
print(tuple)

((1, 2), (10, 20))

In [29]:
tuple1 = (1,2,3)
print(tuple1 * 5)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

## Set

In [31]:
# Mutable
# Unordered collection of unique symbols
# No duplicates
"""methods  - add
            - pop
            - insert
            - len"""

{1, 2, 3, 10, 20, 30}
{1, 2, 3, 10, 20, 30}

In [34]:
set1 = {1,2,3}
set2 = {3,4,5}

union_set = set1 | set2
intersection_set = set1 & set2
different_set = set1 - set2

print(union_set)
print(intersection_set)
print(different_set)

{1, 2, 3, 4, 5}
{3}
{1, 2}

## Dictonary

In [ ]:
# Unordered
# collection of key value pairs
# No duplicates
# {}

In [37]:
dict = {'name':'Joy', 'age': 22, 'place':"Sri Lanka"}
print(dict)

# Update
dict.update({'mark':100})
print(dict)

name1 = dict['name']
print(name1)

{'name': 'Joy', 'age': 22, 'place': 'Sri Lanka'}
{'name': 'Joy', 'age': 22, 'place': 'Sri Lanka', 'mark': 100}
Joy

## Loops

In [ ]:
# 01. for loop
# 02. if else
# 03. while loop

In [43]:
car = ['supra','bmw','audi','lambo']

for i in car:
  print(i)

supra
bmw
audi
lambo

In [48]:
# Break Statement
car = ['supra','bmw','audi','lambo']

for i in car:
  print(i)
  if i == 'audi':
    break

supra
bmw
audi

In [49]:
# Continue Statement
car = ['supra','bmw','audi','lambo']

for i in car:
  if i == 'audi':
    continue
  print(i)

supra
bmw
lambo

## Functions

In [ ]:
# Collection of statements
# "def" keyword
# with no arguements and no return

In [50]:
def add():
  a = 10
  b = 20
  sum = a + b
  print(sum)

add()

30

In [54]:
# No arguement and with return
def multify():
  a = 10
  b = 20
  multi = a * b
  return multi

print(multify())

200

In [55]:
# with arguement and no return
def multify(a,b):
  multi = a * b
  print(multi)

multify(10,20)

200

In [59]:
# with arguement and with return
def add(a,b):
  sum = a + b
  return sum

print(sum)
add(10,20)

<built-in function sum>

30